* {
    margin: 0;
    padding: 0;
}

body {
    background: #E7E7E7;
    max-width: 100vw;
}

dt, dd {
    display: block;
    float: left;
}

dt {
    clear: both;
}

section {
    width: 100%;
    box-sizing: border-box;
}

.section-title {
    color: #0EB57D;
    margin: 100px 0;
}

.container {
    max-width: 70%;
    width: 70%;
    padding: 50px 15% 0 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-string {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 400px;
    background: #0EB57D;
}

.delimiter {
    width: 100%;
    height: 3px;
    background: lightgray;
    border-radius: 2px;
    margin: 15px 0;
}

.label {
    position: relative;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    padding: 5px;
    background: #0EB57D;
    border-radius: 3px;
    box-shadow: 3px 3px 5px gray;
}

.label--up {
    top: 25px;
}

.label--up:after {
    position: absolute;
    content: "";
    right: 0;
    top: -12px;
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
    background: #0EB57D;
    width: 25px;
    height: 15px;
}

.label--down:after {
    position: absolute;
    content: "";
    right: -3px;
    top: 25px;
    clip-path: polygon(100% 0, 50% 0, 100% 100%);
    background: #0EB57D;
    width: 30px;
    height: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-title{
    color: white;
}

.header-links {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.source-link {
    color: white;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;
    box-sizing: border-box;
}

.header-links > .source-link {
    box-shadow: 1px 3px 3px darkgreen;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: #0EB57D;
}

.profile-card__footer > .source-link {
    width: 20px;
    height: 20px;
}

.profile-card {
    display: flex;
    height: 400px;
    margin-top: 100px;
    background: white;
}

.profile-card__img {
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-card__content {
    width: 60%;
    position: relative;
    padding: 20px;
}

.profile-card__title {
    position: relative;
    margin-top: 50px;
}

.profile-card__title > h1 > span:last-child {
    color: #0EB57D;
}

.profile-card__list {
    padding: 0;
    margin: 0;
}

.profile-card__list > dt {
    width: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-card__footer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    left: 0;
    background: #0EB57D;
}

.skills {
    display: flex;
    background: white;
    justify-content: space-between;
    height: 350px;
    padding: 30px;
}

.skills > * {
    width: 45%;
}

.skills__description {
    font-size: 17px;
    color: darkgray;
    font-weight: bold;
    white-space: pre-line;
    line-height: 1.5em;
}

.skills__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skill {
    width: 100%;
}

.skill__text {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 7px;
}

.skill__bar {
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

.skill__bar::-webkit-progress-bar {
    background: lightgray;
}

.skill__bar::-webkit-progress-value {
    background: #0EB57D;
}

.education {
    position: relative;
}

.education__center-line {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    height: 600px;
    width: 3px;
    border: 1px solid darkgray;
    border-radius: 3px;
}

.education__card {
    position: relative;
    width: calc(50% - 22px);
    height: 150px;
    background: white;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 2px 2px 7px gray;
}

.education__card:nth-child(odd) {
    float: left;
}

.education__card:nth-child(even) {
    float: right;
}

.education__card:nth-child(1) {
    margin: 0;
}

.education__card:nth-child(2) {
    margin-top: 40px;
}

.education__card:nth-child(odd):after {
    position: absolute;
    right: -15px;
    top: 5px;
    content: "";
    clip-path: polygon(50% 0%, 50% 100%, 100% 50%);
    background: white;
    width: 55px;
    height: 55px;
}

.education__card:nth-child(even):before {
    position: absolute;
    left: -15px;
    top: 5px;
    content: "";
    clip-path: polygon(50% 0%, 50% 100%, 0 50%);
    background: white;
    width: 55px;
    height: 55px;
}

.education__card:nth-child(odd):before {
    position: absolute;
    right: -28px;
    top: 26px;
    clip-path: circle(50% at 50% 50%);
    content: "";
    background: #0EB57D;
    width: 12px;
    height: 12px;
}

.education__card:nth-child(even):after {
    position: absolute;
    left: -28px;
    top: 26px;
    clip-path: circle(50% at 50% 50%);
    content: "";
    background: #0EB57D;
    width: 12px;
    height: 12px;
}

.education__card__title {
    color: #0EB57D;
    margin-bottom: 10px;
}

.education__card__text {
    text-transform: uppercase;
}


