.skill {
    width: 100%;
}

.skill__text {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 7px;
}

.skill__bar {
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

.skill__bar::-webkit-progress-bar {
    background: lightgray;
}

.skill__bar::-webkit-progress-value {
    background: #0EB57D;
}

@media screen and (max-width: 480px) {
    .skill > progress {
        margin-bottom: 20px;
    }
}