.source-links {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.profile-card__footer > .source-links {
    justify-content: space-evenly;
    width: 100%;
}

header .link {
    box-shadow: 1px 3px 3px darkgreen;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: #0EB57D;
}